@use 'variaveis';

.sinopse {
  background-color: variaveis.$corS4;

  &__title {
    font: variaveis.$titulo-b-md;
    text-align: center;
    padding: 80px 0;

    @media(max-width: 768px) {
      font: variaveis.$titulo-s-md;
      padding: 20px 0;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: minmax(25%, 50%) auto;
    padding-bottom: 160px;

    @media(max-width: 1000px) {
      grid-template-columns: 1fr;
    }

    &__image {
      height: 100%;
      &__key {
        border-radius: 125px;
        max-width: 100%;
        border: 10px solid variaveis.$corP2;
      }
      @media(max-width: 1000px) {
          margin: 0 20px;
      }
    }

    &__content{
      background-color: variaveis.$corP3;
      border-radius: 125px;
      border: 10px solid variaveis.$corS2;
      align-items: center;
      display: grid;
      max-height: 500px;
      align-self: center;
      margin: 0 20px;
      position: relative;

      &::before {
        content: url('../images/detalhes/detalhe1.svg');
        position: absolute;
        top: -1px;
        right: 15%;

        @media(max-width: 500px) {
          right: 30%;
        }
      }

      &__text {
        font-size: variaveis.$texto-b;
        color: variaveis.$corS1;
        padding: 60px;

        @media(max-width: 768px) {
          padding: 44px;
          font-size: variaveis.$texto-s;
        }

        &--bold {
          font-weight: bold;
        }
      }
    }
  }
}