// Cores
  // Paleta 1
  $corP0: #202020;
  $corP1: #1e1e1e;
  $corP2: #256E8C;
  $corP3: #8CD1ED;
  $corP4: #979797;
  $corP5: #424242;



  // Paleta 2
  $corS1: #431204;
  $corS2: #6E240F;
  $corS3: #A44B32;
  $corS4: #C07661;

// Tipografia
  // Titulos
  $titulo-b-sm: 500 20px 'SF Hollywood Hills';
  $titulo-s-sm: 500 14px 'SF Hollywood Hills';
  $titulo-b-md: 500 64px 'SF Hollywood Hills';
  $titulo-s-md: 500 32px 'SF Hollywood Hills';
  $titulo-b-bg: 500 128px 'SF Hollywood Hills';
  $titulo-m-bg: 500 80px 'SF Hollywood Hills';
  $titulo-s-bg: 500 56px 'SF Hollywood Hills';

  // Textos
  $texto-b: 20px;
  $texto-s: 14px;