// Cores
  // Paleta 1
  $corP1: #1e1e1e;
  $corP2: #256E8C;
  $corP3: #8CD1ED;

  // Paleta 2
  $corS1: #431204;
  $corS2: #6E240F;
  $corS3: #A44B32;
  $corS4: #C07661;

// Tipografia
  $titulo-sm: 500 20px 'SF Hollywood Hills';
  $titulo-md: 500 64px 'SF Hollywood Hills';
  $titulo-bg: 500 128px 'SF Hollywood Hills';
