@use 'variaveis';
@use 'header';
@use 'hero';
@use 'sinopse';
@use 'personagens';

@font-face {
  font-family: 'SF Hollywood Hills';
  src: url('../../fonts/SFHollywoodHills.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}